.about {
  
  background-color: rgba(131, 135, 245, 0.1);

 
  & .about_flex {
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    & .about_profile {
      width: 240px;
      border-radius: 8px;
      margin: 20px 1rem;
      padding: 20px;
      height: 320px;
      
      // background: white;
      & .about_profile-thumbnail {
        width: 100%;
        margin: 0 auto;
        box-shadow: 0 0 5px rgba(152, 122, 158, 0.5);

        display: block;
        text-align: center;
        object-fit: cover;
        padding: 20px;
        border-radius: 10px;
        background: white;
      }
      & .about_profile-name {
        color: var(--primary);
        margin: 15px 0;
        padding: 0 5px;
      }
      & .about_profile-desc {
        padding: 0 5px;
        color: var(--dark);
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (min-width: 900px) {
  .about {
    padding: 15rem auto;
    & .about_heading {
      font-size: 2.5rem;
     
    }
  }
}
