$sky: rgb(14, 165, 233);
$pink: rgb(244, 114, 182);
$slate: rgb(100, 116, 139);

nav {
  position: fixed;
  width: 100%;
  top: 0;

  .navbar {
    padding: 20px 50px;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_logo {
      color: $sky;
      font-size: 2rem;
      padding: 0 10px;
      font-weight: bold;
      cursor: pointer;
      width: 180px;
      & img {
        width: 100%;
      }
    }
    .navlinks {
      display: flex;
      align-items: center;

      .navlinks_item {
        color: $slate;
        margin: 0 10px;
        font-size: 1.2rem;
        list-style: none;
        transition: all 0.6;
        &:hover {
          color: $sky;
        }
        .navlinks_link {
          text-decoration: none;
          color: inherit;
          &.active {
            color: $sky;
          }
        }
      }
    }
    .navlinks_sm {
      position: fixed;
      top: 0;
      width: 80%;
      right: 0;
      background: url("../../../public/minimal-white.png") no-repeat center
          center/cover,
        white;
      height: 100vh;
      padding: 4rem 2rem;
      display: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      list-style: none;
      & .navlinks_item {
        color: $slate;
        margin: 20px;

        & .navlinks_link {
          color: inherit;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: bold;
          &.active {
            color: $sky;
          }
        }
      }
      & .toggle-cancel {
        position: absolute;
        right: 50px;
        cursor: pointer;
        top: 30px;
      }
    }
    .menu_icon {
      display: none;
      cursor: pointer;
    }
  }
}
@media (max-width: 768px) {
  nav {
    & .navbar {
      & .navlinks_sm {
        display: block;
      }
      padding: 15px 20px;
      .nav_logo {
        width: 150px;
      }
      & .menu_icon {
        display: block;
      }
      & .navlinks {
        display: none;
      }
    }
  }
}
