nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;

  .navbar {
    padding: 10px 50px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background: rgba(12 ,89 , 144 , .02);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_logo {
      color: var(--primary);
      padding: 0 10px;
      cursor: pointer;
      width: 180px;
      & img {
        width: 100%;
      }
    }
    .navlinks {
      display: flex;
      align-items: center;

      .navlinks_item {
        color: var(--secondary);
        margin: 0 10px;
        list-style: none;
        transition: all 0.6;
        font-size: large;
        &:hover {
          color: var(--primary);
        }
        .navlinks_link {
          text-decoration: none;
          color: inherit;
          &.active {
            color: var(--primary);
            font-weight: 500;
          }
        }
      }
    }
    .navlinks_sm {
      position: fixed;
      top: 0;
      width: 80%;
      right: 0;
      background: url("../../../public/minimal-white.png") no-repeat center
          center/cover,
        white;
      height: 100vh;
      bottom: 0;
      padding: 4rem 2rem;
      backdrop-filter: blur(50px);
      display: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      list-style: none;
      & .navlinks_item {
        color: var(--secondary);
        margin: 20px;

        & .navlinks_link {
          color: inherit;
          text-decoration: none;
          font-weight: 500;
          &.active {
            color: var(--primary);
          }
        }
      }
      & .toggle-cancel {
        position: absolute;
        right: 50px;
        cursor: pointer;
        top: 30px;
        color: var(--primary);
      }
    }
    .menu_icon {
      display: none;
      cursor: pointer;
    }
  }
}
@media (max-width: 768px) {
  nav {
    & .navbar {
      & .navlinks_sm {
        display: block;
      }
      padding: 15px 20px;
      .nav_logo {
        width: 150px;
      }
      & .menu_icon {
        display: block;
      }
      & .navlinks {
        display: none;
      }
    }
  }
}
