

.section_navs {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    & a {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: block;
      margin: 10px 0;
      background: var(--slate);
      &.active {
        background-color: var(--secondary);
        border: 2px solid var(--primary);
      }
    }
  }
}
