@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Padauk" , sans-serif;
    box-sizing: border-box;
}