@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  width: 4px;
  background: var(--slate);
  background-clip: padding-box;
  border-radius: 1rem;
  border: 3px solid transparent;
}
:root {
  --primary: #35414d;
  --secondary: #002129;
  --bg: #fbf8f1;
  --extra: #ef98a7;
  --slate: #c0c2c9;
  --dark: #545353;
}
::selection {
  color: var(--dark);
  background: var(--bg);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
#root {
  background: var(--bg);
  min-height: 100vh;
}
.app__main_heading {
  color: var(--primary);
  font-size: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  text-align: center;
}
.app__main_desc {
  text-align: center;
  color: #666;
  font-size: 1.1rem;
  font-weight: 500;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.wrapper {
  min-height: 100vh;
  padding-top: 6rem;
}


@media screen and (max-width: 768px) {
  .app__main_heading {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.45rem;
  }
  .app__main_desc {
    font-size: 0.95rem;
    width: 100%;
    padding: 0.75rem;
  }
}
