@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
html {
  scroll-behavior: smooth;
}
:root {
  --primary: #604f71;
  --secondary: #807094;
  --bg: #fbf8f1;
  --extra: #ef98a7;
  --slate: #c0c2c9;
  --dark: #545353;
}
::selection{
  color: var(--dark);
  background: var(--bg);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
#root {
  background: var(--bg);
  min-height: 100vh;
}
